<div class="row">
  <div class="col-md-12">

          <div class='form-group'>
          <label for="">Week</label>

      <select class='form-control' [(ngModel)]="selectedweek" (change)="selectweek()">
      <option *ngFor="let week of weekList" [ngValue]="week">{{week}}</option>
      </select>
  </div>
</div>






<!--

<div class="alert alert-success" role="alert" ng-show="uploadSucess">{{
			message }}</div>
		<div class="alert alert-danger" role="alert" ng-show="uploadError">{{
			message }}</div>

		<!-- Various colors -->
<!--
		<div class="box box-primary" ng-show="teamDataList.length>0">
			<div class="box-header with-border">

				<h3 class="box-title">TOFA Data for {{selectedweek}}
				<i class="fa fa-question-circle" style="cursor: pointer; padding-left: 750px;" data-target="#helpModel" data-toggle="modal"></i>
				</h3>

			</div>
			<div class="box-body">
				<div class="row" align="center">
					<div class="outer">
						<div class="wrap">
							<div class="sub">
								<b>Actual Hrs</b><br> <br> <span
									ng-class="{'label label-success' : actualAvg > 9, 'label label-danger' : actualAvg < 9}"
									style="font-size: 20px">{{totalTofaHrs | number:2}}</span>
							</div>
							<div class="sub">
								<b>Actual Avg Hrs</b><br> <br> <span
									ng-class="{'label label-success' : actualAvg > 9, 'label label-danger' : actualAvg < 9}"
									style="font-size: 20px">{{actualAvg | number:2}}</span>
							</div>
							<div class="sub" ng-show="totalAdjustHrs>0">
								<b>Adj Hrs</b><br> <br> <span
									class="label label-success" style="font-size: 20px">{{totalAdjustHrs}}</span>
							</div>
							<div class="sub" ng-show="totalAdjustHrs>0">
								<b>Adj Avg Hrs</b><br> <br> <span
									ng-class="{'label label-success' : adjAvg > 9, 'label label-danger' : adjAvg < 9}"
									style="font-size: 20px">{{(adjAvg| number:2)}}</span>
							</div>
							<!--<div class="sub">Total Hrs<br><br><span class="label label-danger" style="font-size:20px">9.5</span></div>-->
		<!--				</div>
					</div>

				</div>

				<div ng-repeat="date in weekdates">
					<div class="box box-solid collapsed-box"
						ng-style="empData.dayList[$index].dayType === 'Leave' && {'background-color':'red'}  || empData.dayList[$index].dayType === 'Working Day' && {'background-color':'#51FC84'} || empData.dayList[$index].dayType === 'Week Off' && {'background-color':'#C7F2F2'} || empData.dayList[$index].dayType === 'Holiday' && {'background-color':'#FF8CF2'}">
						<div class="box-header with-border">
							<h3 class="box-title" style="font-size: 15px">
								{{date}}&nbsp;<span style="font-size: 10px">{{empData.dayList[$index].dayType}}</span>
							</h3>
							<div class="box-tools pull-right">
								<i ng-if="empData.dayList[$index].tofaHrs > 0" class="fa fa-hourglass" style="cursor: pointer"
									data-toggle="modal" data-target="#rawdataModel" ng-click="getSwipeData(date, user.empId)" ></i>
								<span ng-show="empData.dayList[$index].tofaHrs > 0">Swipe
									Hrs: <b>{{empData.dayList[$index].tofaHrs}}</b>
								</span><span
									ng-show="empData.dayList[$index].adjustMentList.length > 0">
									Adj. Hrs: </span><span
									ng-show="empData.dayList[$index].totAdjHrsApr > 0"> <b>{{empData.dayList[$index].totAdjHrsApr}}&nbsp;
								</b></span> <span ng-show="empData.dayList[$index].totAdjHrsSub > 0"><b><font
										color="orange">({{empData.dayList[$index].totAdjHrsSub}})</font>
								</b></span><span ng-show="empData.dayList[$index].totAdjHrsRej > 0"><b><font
										color="red">({{empData.dayList[$index].totAdjHrsRej}})</font>
								</b></span>
								<button class="btn btn-box-tool" data-widget="collapse"
									ng-hide="empData.dayList[$index].adjustMentList.length == 0">
									<i class="fa fa-plus"></i>
								</button>
								<i ng-show="enableTofaEdit" class="fa fa-edit" style="cursor: pointer"
									data-toggle="modal" data-target="#myModal" ng-click="openadj(date); disableSave(); clearData(); disableField(); checkAdjAvg(adjAvg) "></i>
							</div>
						</div>
						<div class="box-body">
							<span
								ng-show="empData.dayList[$index].adjustMentList.length <= 0"><p>No
									Adjustments</p></span> <span
								ng-show="empData.dayList[$index].adjustMentList.length > 0">
								<div class="tableadj">

									<div class="rowadj headeradj">
										<div class="celladj">S.No</div>
										<div class="celladj">Type</div>
										<div class="celladj">Remarks</div>
										<div class="celladj">Hrs</div>
										<div class="celladj">Status</div>
										<div class="celladj">Action</div>
									</div>

									<div class="rowadj"
										ng-repeat="adjdata in empData.dayList[$index].adjustMentList">
										<div class="celladj">{{$index+1}}</div>
										<div class="celladj">{{adjdata.reason}}</div>
										<div class="celladj">{{adjdata.reasonDescription}}</div>
										<div class="celladj">{{adjdata.tofaTime}}</div>
										<div class="celladj">{{adjdata.status}}</div>
										<div class="celladj" ng-show="{{adjdata.actionVisible}}">
											<a href="" ng-click="deleteAdjustment(adjdata)">Delete</a>
										</div>
										<div class="celladj" ng-show="!{{adjdata.actionVisible}}"></div>
									</div>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

  -->
